$header-height: 45px;
$desktop-width: 768px;

$dark-color: #282C34;
$medium-color: #8a95a5;
$light-color: #E9EAEC;
$light-color-2: #DBE8D8;
$green-color: #629460;
$yellow-color: #e3b23c;
$blue-color: #87f1ff;
$red-color: #eb5160;