.game-over-modal {
  .modal-content {
    background-color: lightslategrey;
    .message {
      margin-bottom: 8px;
      padding: 32px 16px 0px;
    }
    .results {
      padding: 16px 48px;
    }
    .share-results {
      display: flex;
      padding: 16px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);

      button {
        border: 1px solid rgba(slategrey, 0.75);
        border-radius: 3px;
        background: darkslategray;
        padding: 8px;
        flex: 1;
        color: white;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}