.keyboard {
  width: calc(100% - 16px);
  max-width: 500px;
  margin: 0px 8px;
  .row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;

    .key {
      cursor: pointer;
      background: $medium-color;
      -webkit-tap-highlight-color: rgba($light-color,0.5);
      color: $light-color;
      flex: 1;
      height: 50px;
      margin-right: 5px;
      border: none;
      border-radius: 3px;
      text-align: center;
      text-transform: uppercase;
      font-size: inherit;

      &.black {
        background: rgba($light-color, 0.1);
        color: rgba($light-color, 0.5);
      }
      &.green {
        background-color: $green-color;
      }
      &.yellow {
        background-color: $yellow-color;
      }

      @include flex(center, center);

      &:last-of-type {
        margin-right: 0px;
      }
      &:disabled {
        cursor: no-drop;
        color: rgba($dark-color, 0.7);
      }

      &#Enter,
      &#Backspace {
        flex: 1.5;
      }
      &#Enter {
        background-color: $blue-color;
        &:disabled {
          background-color: rgba($blue-color, 0.4);
        }
        &:not(:disabled) {
          color: $dark-color;
        }
      }
      &#Backspace {
        background-color: $red-color;
        color: $light-color;
      }
    }
  }
}