@import './reset.scss';
@import './mixins.scss';
@import './elements/modal.scss';
@import './gameboard.scss';
@import './keyboard.scss';
@import './game-over-modal.scss';

$header-height: 45px;
$desktop-width: 768px;

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #282c34;
  color: white;

  .App-header {
    @include flex(space-between, center);
    height: $header-height;
    padding: 0px 16px;
    position: relative;

    .header-title {
      flex: 1;
      align-self: center;
      @media (min-width: $desktop-width) {
        text-align: center;
        font-size: 30px;
      }
    }

    .header-buttons-right {
      align-self: center;
      position: absolute;
      right: 16px;
      @include vertical-align();
      span {
        margin-left: 12px;
        font-size: 24px;
        cursor: pointer;
        @media (min-width: $desktop-width) {
          font-size: 24px;
        }
      }
    }
  }
  
  .App-content {
    min-height: calc(100vh - $header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    text-align: center;
  }
}


