.game-modal-content .today-results {
  .message {
    margin-bottom: 8px;
    padding-top: 12px;
    font-size: 20px;
  }
  .results {
    padding: 8px;
    margin: 8px 16px 16px;
    background: $dark-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    flex: 1;
  }
  .share-results {
    display: flex;
    padding: 16px;
    border-top: 1px solid rgba($light-color, 0.5);

    button {
      border: none;
      border-radius: 3px;
      background: $dark-color;
      padding: 8px;
      flex: 1;
      color: $light-color;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba($light-color, 0.5);
      &:not(:last-child) {
        margin-right: 8px;
      }
      &:hover {
        background: rgba($dark-color, 0.75);
      }
    }
  }
}